@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('reset_stylesheet.css');
* {
    margin: 0;
    padding: 0
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    border: 2px solid white;
    background-color: white;
    width:350px;
    max-width: 350px;
    margin: 100px auto;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 4px 4px 20px 7px rgba(100, 98, 98, 0.43);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    
}

.container img {
    width: 90%;
    margin: 10px auto;
    border-radius: 10px;
}

.container h2,
p {
    text-align: center;
}

.container p {
    font-weight:400;
    padding-bottom: 40px;
}
.container h2{
    font-weight:700;

